// Navigation code here

header {
  h1 {
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 6rem;
    .frc();
    overflow: hidden;
    .fntani();
  }
  
  
  height: 140px;
  width: 100%;
  top: 0%;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-bottom:2px solid lighten(@btn-bg-color, 30%);
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  .bkani();

  nav {
    .frc();
  }
  nav a {
    .buttons(@btn-bg-color, @nav-font, @nav-border);
  }
  @media @phone {
   width:100%;
   
}
}

